$primary-color: #6dadbd; 
$backgroundPrimary : #d5e7ecc5;
$backgroundPrimary-service : #e9eef0c5;
$primary-color-hover : #417785;
$primary-color-darken : #468696;
$button-primary:#76b3c2;
$button-secondary:#96bdc7;
$button-primary-hover:#4c97ad;
$hover-images:#00000086;
$secondary-color:#7aaebb;
$bold-var:bold;
$bolder-var:bolder;
$muted: #a1a1a1 ;
$muted-dark:#5a5a5a;
$third-color:#413b3b;
$footer-background:#0000002f