@font-face {
  font-family: "JF Flat Regular";
  src: url(../fonts/JF-Flat-regular.eot);
  src: url(../fonts/JF-Flat-regular.eot?#iefix) format("embedded-opentype"), url("../fonts/JF-Flat-regular.svg#JF Flat Regular") format("svg"), url(../fonts/JF-Flat-regular.woff) format("woff"), url(../fonts/JF-Flat-regular.ttf) format("truetype");
  font-weight: bolder;
  font-style: normal;
}
a {
  text-decoration: none;
}

.d-flex.price {
  justify-content: space-between;
  color: #6dadbd;
}
.d-flex.price button {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background-color: #76b3c2;
  border: none;
  transition: all 0.5s ease;
}
.d-flex.price button a {
  text-decoration: none;
  color: #413b3b;
}
.d-flex.price button:hover {
  transform: scale(1.1);
  background-color: #4c97ad;
}
.d-flex.price span {
  font-weight: bolder;
  font-size: 145%;
}

body {
  font-family: "JF Flat Regular";
  background-color: rgba(213, 231, 236, 0.7725490196);
  width: 100%;
}

nav {
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
}

.custom-container-home img {
  border-radius: 10px;
}

.collapse {
  flex-grow: 0;
}

.nav-item .sign.nav-link {
  color: #5a5a5a !important;
  font-weight: bolder;
  position: relative;
  background-color: #76b3c2;
  border-radius: 5px;
}

.navbar-nav .nav-item {
  font-size: 115%;
  margin-inline: 5px;
}

.nav-item .nav-link {
  color: #6dadbd !important;
  transition: all 0.3s;
}

.nav-item .nav-link:hover,
.nav-item .nav-link.active {
  color: #417785 !important;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1176470588);
}

.nav-item .nav-link:hover::after,
.nav-item .nav-link.active:after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #6dadbd;
  height: 2px;
}

.navbar-brand {
  color: #468696 !important;
  font-weight: bolder;
  font-size: 145%;
  transition: all 0.3s;
}

.logo-icon {
  transition: all 1s;
}

.navbar-brand:hover .logo-icon {
  transform: translate(80%, -200%);
}

.curve-contain button {
  width: 50%;
  background-color: #76b3c2 !important;
  transition: all 0.5s;
  box-shadow: none !important;
  border: none !important;
}

.curve-contain button:hover,
.curve-contain button:hover:focus,
.curve-contain button:active:focus .curve-contain button:hover {
  background-color: #4c97ad !important;
  transform: scale(1.08);
}

.curve-contain .logo-icon {
  transform: none !important;
}

.curve-contain .navbar-brand {
  margin-top: 30%;
  font-size: 250%;
}

.activeNav .nav-link.active {
  color: #417785 !important;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1176470588);
}

.subtitled-text {
  font-size: 110%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: horizontal;
}

hr.hr {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.3568627451);
  margin-block: 100px;
}

.curve-contain .curve-button-country {
  width: 50%;
  background-color: #96bdc7 !important;
  transition: all 0.5s;
  box-shadow: none !important;
  border: none !important;
  margin-left: 10px;
  margin-top: 25px;
}

.curve-contain .curve-button-country:hover,
.curve-contain .curve-button-country:hover:focus,
.curve-contain .curve-button-country:active:focus .curve-contain .curve-button-country:hover {
  background-color: #4c97ad !important;
  transform: scale(1.08);
}

.curve-contain .d-flex {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.mt-7 {
  margin-top: 150px;
}

.mb-7 {
  margin-bottom: 150px;
}

.service {
  background-color: rgba(233, 238, 240, 0.7725490196);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5px;
  color: #6dadbd;
}

.features .container h1 {
  padding-bottom: 50px;
  font-size: 45px;
  color: #6dadbd !important;
}
.features .container h1 span.navbar-brand {
  font-size: 100%;
}
.features .container .row h4 {
  padding-bottom: 10px;
  font-size: 24px;
}
.features .container .row .d-flex {
  padding: 40px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: #9b9b9b 0px 10px 20px;
  max-height: 190px;
}
.features .container .row p {
  font-size: 15px;
  line-height: 25px;
  color: #a1a1a1;
}
.features .container .row .col-md-6 .flex-shrink-0 {
  color: #7aaebb;
  font-size: 200%;
  margin-inline: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .container .row .col-md-6 h4 {
  color: #468696;
  font-weight: bold;
}
.features .container .row .col-md-6:nth-child(even) {
  direction: ltr;
}

.heading {
  color: #6dadbd;
  font-weight: bold;
}

.trips #TurkeyTrip {
  margin-top: 50px;
}
.trips #TurkeyTrip .col-md-5 {
  background-image: url(../img/trip1.jpg);
}
.trips #TurkeyTrip .col-md-5:hover {
  margin-right: 0px !important;
}
.trips .col-md-5 {
  transition: all 1s ease;
  position: relative;
  padding: 0 !important;
  background-image: url(../img/trip2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: #9b9b9b 0px 10px 20px;
  cursor: pointer;
  position: relative;
  margin-right: -80px;
}
.trips .col-md-5 .layer {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.137254902);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.trips .col-md-5:hover {
  margin-right: 0px;
  margin-left: 0px;
}
.trips p {
  color: #a1a1a1 !important;
}
.trips .container .row {
  padding: 40px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: #9b9b9b 0px 10px 20px;
}
.trips .container .row .col-md-6 {
  transition: 1s ease all;
}
.trips .container .col-md-5:hover ~ .motion-col {
  margin-right: 15px;
}

footer .top-footer {
  padding: 75px 0;
  background-color: #111111;
}
footer .top-footer h5 {
  font-size: 18px;
  line-height: 45px;
  color: #6dadbd;
  margin-bottom: 30px;
  position: relative;
  font-weight: bolder;
}
footer .top-footer h5::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 35px;
  height: 3px;
  background-color: #a1a1a1;
}
footer .top-footer .about-us p {
  font-size: 15px;
  line-height: 22px;
  color: #a1a1a1;
  margin-bottom: 60px;
}
footer .top-footer .about-us ul a {
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
  border-radius: 5px;
  text-align: center;
  background-color: #5a5a5a;
  color: #acacac;
  transition: all 0.5s ease-in-out;
}
footer .top-footer .about-us ul a:hover {
  background-color: #4c97ad;
  color: #6dadbd !important;
}
footer .top-footer ul.contact-list {
  list-style: none;
  padding: 0;
}
footer .top-footer ul.contact-list li {
  font-size: 18px;
  color: #5a5a5a;
  margin-bottom: 35px;
}
footer .top-footer ul.contact-list li .svg-inline--fa {
  text-align: center;
  color: #acacac;
  border-radius: 5px;
}
footer .copy-right {
  background-color: #111111 !important;
  padding: 30px 0;
  font-size: 15px;
  color: #acacac;
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  height: 50px;
  line-height: 50px;
  width: 50px;
  background-color: #76b3c2;
  border-radius: 50%;
  margin-top: 28%;
  transform: translateY(50%);
  margin-inline: 10px;
}

#photosCarousel .carousel-item img,
#photosCarousel2 .carousel-item img {
  filter: grayscale(40%);
  height: 100% !important;
  width: 100% !important;
  border-radius: 10px;
}

.trip_introduce h3 {
  font-weight: bolder !important;
  font-size: 180% !important;
}
.trip_introduce .row {
  border-radius: 10px;
  box-shadow: 0 10px 20px #9b9b9b;
  margin-bottom: 20px;
  padding: 40px 10px;
}
.trip_introduce .row .carousel-indicators button {
  width: 20px;
  height: 20px;
  background-color: #6dadbd !important;
}
.trip_introduce .row .carousel-indicators button.active {
  background-color: #468696 !important;
}
.trip_introduce .row #photosCarousel2 .carousel-item,
.trip_introduce .row #photosCarousel .carousel-item {
  min-height: 100% !important;
  border-radius: 10px;
  width: 100%;
}
.trip_introduce .row .carousel-control-next, .trip_introduce .row .carousel-control-prev {
  line-height: 0px;
}
.trip_introduce .row p {
  color: #a1a1a1;
}

@media (max-width: 1200px) {
  .custom-mb-row .curve-contain .navbar-brand {
    margin-top: 15%;
  }
  .custom-mb-row .col-xl-6 {
    text-align: center;
    padding-top: 0;
  }
  .custom-mb-row .curve-contain {
    overflow: hidden;
  }
  .custom-mb-row .center-div {
    margin-right: 50% !important;
    transform: translateX(25%);
    width: 100%;
  }
  .mt-7 {
    margin-top: 75px;
  }
  .custom-container-home .row:nth-child(2) {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .custom-container-home .row:nth-child(2) .col {
    width: 65% !important;
  }
  .features .container .row h4 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .custom-mb-row .curve-contain .navbar-brand {
    margin-top: 30%;
  }
  .custom-mb-row .subtitle-text {
    font-size: 90%;
  }
  .custom-mb-row .center-div {
    margin-right: 0% !important;
    transform: translateX(0%);
    width: 100%;
  }
  .custom-mb-row .center-div button {
    width: 100%;
  }
  .custom-mb-row .center-div .d-flex {
    width: 100%;
  }
  .features .container .row .d-flex {
    height: 200px;
    padding: 15px 10px;
  }
  .features .container .row p {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .features .container .row .d-flex {
    height: 190px;
    padding: 30px 10px;
  }
  .features .container .row p {
    font-size: 13px;
    line-height: 18px;
  }
}
@media (max-width: 992px) {
  .subtitled-text {
    font-size: 100%;
  }
  .trips .col-md-5:first-child {
    margin-right: -15px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .trips .col-md-5:first-child {
    margin-right: 0px;
  }
}

/*# sourceMappingURL=index.css.map */
